*
{
    box-sizing: border-box;

}

.tablink{
    background-color: rgb(7, 7, 7);
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover{
        background-color: rgb(32, 18, 158);
}
body, html{
    background-color: rgb(70, 169, 182); height: 100%;
    margin: 0;
    font-family: Lato, sans-serif;
}
.section {
    align-items: center;
}
.section#welcome
{
    background-color: rgb(7, 7, 7);
}